/*
Color Scheme


#0E1555
#4E1184
#932B77
#FD367E

Alt Color Scheme
#A42127
#C83B3B
#EF9B59
#FEE785


#252839
#677077
#b5b5b7
#f2b632

#c9c9c9
#e3e3e3
#9ad3de
#89bdd3

#001F3F
#083358
#FFD717
#0DA574


*/
/******** BASE STYLES *******/


// testing
$online-bg: #0DA574;
$offline-bg: #083358;
//

$link-color: #FEE785;
$bg-color: #001F3F;
$app-color: #0DA574;
$alt-app-color: #0DA574;
$main-text-color: #e3e3e3;
$font-stack: 'Source Sans Pro', Helvetica, sans-serif; // Example
$test-color: #ddd;
$main-font-size: 1.2em;

body {
  background-color: $bg-color;
  // color: $main-text-color;
  color: $test-color;
  font-size: $main-font-size;
  display:flex;
  justify-content: center;
  font-family: $font-stack;
}

a {
  color: $link-color;
  text-decoration: none;
}


/******** MAIN STYLES *******/

#app-container {

  width: 800px; /* used to be 80% */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  // align-items: center;
  // margin: 0 auto;


}

#app-container div {
  background-color: $offline-bg;
  min-width: 600px; /* maybe move this to .stream-block */
  color: $main-text-color;
  text-align: center;

}

#app-container input {
  background-color: $main-text-color;
  color: $app-color;
  margin: 0 auto;
  /* round corners */
  border-radius: 15px;
  font-size: 1.2em;
  text-align: center;
  outline: none;
}

// #app-container input::placeholder {
//   color: $main-text-color;
// }

#state-indicator {
  // background-color: $app-color;
  background-color: $alt-app-color;
  display: flex;
  justify-content: center;
  padding: 5% 0;
  font-size: 2em;
  color: $app-color; // why doesn't this work
}

.filter-buttons {
  background-color: $alt-app-color;
  display: flex;
  // justify-content: flex-end;
  flex-direction: column;
}

.filter-button {
  cursor: pointer;
}

#results-line {
  width: 50%;
  background-color: red;

  display: block;
  height: 1px;
  border: 3;
  border-top: 1px solid #ccc;
  // margin: 1em 0;
  // padding: 0;
}

#results {
  background-color: $app-color;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding: 5% auto;
  // border-radius: 5%;
}

/* created using jQuery */

.stream-block {
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  color: $main-text-color;
  // padding: 25px auto;
}

// .stream-block children { // not working
//   flex-basis: 20%;
// }

.stream-block img,
.stream-block p {
  display: flex;

}

.channel-logo {
  height: 75px;
  width: 75px;
  border-radius: 50%;
  border: 2px solid $bg-color;
}









/******** PSEUDO STYLES *******/
