/*
Color Scheme


#0E1555
#4E1184
#932B77
#FD367E

Alt Color Scheme
#A42127
#C83B3B
#EF9B59
#FEE785


#252839
#677077
#b5b5b7
#f2b632

#c9c9c9
#e3e3e3
#9ad3de
#89bdd3

#001F3F
#083358
#FFD717
#0DA574

#343434
#2D4059
#EA5455
#FDE9C9


*/
/******** BASE STYLES *******/
// testing
$online-bg: #FDE9C9;
$offline-bg: #2D4059; //
$link-color: #EA5455;
$highlight-font-color: #343434;
$bg-color: #343434;
$app-color: #FDE9C9;
$alt-app-color: #FDE9C9;
$main-text-color: #EA5455;
$font-stack: 'Source Sans Pro', Helvetica, sans-serif; // Example
$test-color: #EA5455;
$main-font-size: 1.2em;
body {
    background-color: $bg-color;
    // color: $main-text-color;
    color: $test-color;
    font-size: $main-font-size;
    display: flex;
    justify-content: center;
    font-family: $font-stack;
}
a {
    color: $link-color;
    text-decoration: none;
}
/******** MAIN STYLES *******/
#app-container {
    background-color: $offline-bg;
    width: 600px;
    /* used to be 80% */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    // align-items: center;
    // margin: 0 auto;
    margin-bottom: 5%;
}
.search-block {
    background-color: $offline-bg;
}
#app-container div {
    // background-color: $offline-bg;
    // min-width: 600px; /* maybe move this to .stream-block */
    // color: $main-text-color;
    text-align: center;
}
#no-such-channel {
  display: none;
  color: $bg-color;
  background-color: $main-text-color;
  padding-bottom: 1em;
  padding-top: 1em;
  width: 100%;
  text-align: center;
}
.search-block {
    margin: 2% 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around; // check
    align-items: center;
    color: $main-text-color;
    // background-color: $app-color;
    background-color: $offline-bg;
}
#search-button {
    margin: 5% 0;
    max-width: 50px;
    font-size: 1em;
    cursor: pointer;
    background-color: $app-color;
    color: $main-text-color;
    border-radius: 15px;
    padding: 2% 5%;
}
#search-button:hover {
    color: $offline-bg;
}
#search-box {
    background-color: $app-color;
    color: $main-text-color;
    margin: 0 auto;
    /* round corners */
    border-radius: 20px;
    font-size: 1.2em;
    text-align: center;
    outline: none;
    border: none;
    padding: 2% 3%;
}
#app-container input::-webkit-input-placeholder {
    // color: $app-color;
    color: $main-text-color;
}
#state-indicator {
    // background-color: $app-color;
    background-color: $offline-bg;
    // background-color: $alt-app-color;
    display: flex;
    justify-content: center;
    padding: 5% 0;
    font-size: 2em;
    color: $app-color; // why doesn't this work
}
.filter-buttons {
    background-color: $alt-app-color;
    display: flex;
    // align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    // padding-top: 5px;
    // padding-bottom: 5px;
    // padding: 0 10px;
}
.filter-button {
    background-color: $offline-bg;
    flex: 1;
    width: auto;
    padding: 5px 10px;
    // margin: 0 50%;
}
.highlighted {
    background-color: $app-color;
}
.highlighted p {
    color: $highlight-font-color;
}
.filter-button {
    cursor: pointer;
}
#results-line {
    width: 60%;
    background-color: $app-color;
    display: block;
    height: 5px;
    border: 3;
    border-radius: 5px;
    border-top: 1px solid;
    border-color: $offline-bg;
    // margin: 1em 0;
    // padding: 0;
}
#results {
    background-color: $app-color;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    // border-radius: 5%;
}
/* created using jQuery */
.stream-block {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    color: $main-text-color;
    border-bottom: 2px $bg-color;
    border-top: 2px $bg-color;
}
.stream-block img,
.stream-block p {
    display: flex;
}
.block-anchor {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 5px 0;
  min-width: 600px;
  text-align: center;
}
.channel-logo {
    height: 75px;
    width: 75px;
    border-radius: 50%;
    border: 2px solid $bg-color;
    margin: 0 25px;
    // width: %;
}
.stream-block p {
    margin: 0 30px;
    width: 30%;
}
.online {
    background-color: $app-color;
}
/******** PSEUDO STYLES *******/
