/*
Color Scheme

#0E1555
#4E1184
#932B77
#FD367E

Alt Color Scheme
#A42127
#C83B3B
#EF9B59
#FEE785


#252839
#677077
#b5b5b7
#f2b632

#c9c9c9
#e3e3e3
#9ad3de
#89bdd3

#001F3F
#083358
#FFD717
#0DA574

#343434
#2D4059
#EA5455
#FDE9C9

#F1FAFB
#A0E4F1
#7EA6F4
#4A4DE7

*/
/******** BASE STYLES *******/
body {
  background-color: #A0E4F1;
  color: #F1FAFB;
  font-size: 1.2em;
  display: flex;
  justify-content: center;
  font-family: "Source Sans Pro", Helvetica, sans-serif; }

a {
  color: #F1FAFB;
  text-decoration: none; }

/******** MAIN STYLES *******/
#app-container {
  background-color: #7EA6F4;
  width: 600px;
  /* used to be 80% */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 5%; }

.search-block {
  background-color: #7EA6F4; }

#app-container div {
  text-align: center; }

#no-such-channel {
  display: none;
  color: #A0E4F1;
  background-color: #F1FAFB;
  padding-bottom: 1em;
  padding-top: 1em;
  width: 100%;
  text-align: center; }

.search-block {
  margin: 2% 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: #F1FAFB;
  background-color: #7EA6F4; }

#search-button {
  margin: 5% 0;
  max-width: 50px;
  font-size: 1em;
  cursor: pointer;
  background-color: #4A4DE7;
  color: #F1FAFB;
  border-radius: 15px;
  padding: 2% 5%; }

#search-button:hover {
  color: #7EA6F4; }

#search-box {
  background-color: #4A4DE7;
  color: #F1FAFB;
  margin: 0 auto;
  /* round corners */
  border-radius: 20px;
  font-size: 1.2em;
  text-align: center;
  outline: none;
  border: none;
  padding: 2% 3%; }

#app-container input::-webkit-input-placeholder {
  color: #F1FAFB; }

#state-indicator {
  background-color: #7EA6F4;
  display: flex;
  justify-content: center;
  padding: 5% 0;
  font-size: 2em;
  color: #4A4DE7; }

.filter-buttons {
  background-color: #A0E4F1;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  margin-bottom: 3px; }

.filter-button {
  background-color: #7EA6F4;
  flex: 1;
  width: auto;
  padding: 5px 10px; }

.highlighted {
  background-color: #4A4DE7; }

.highlighted p {
  color: #A0E4F1; }

.filter-button {
  cursor: pointer; }

#results-line {
  width: 60%;
  background-color: #4A4DE7;
  display: block;
  height: 5px;
  border: 3;
  border-radius: 5px;
  border-top: 1px solid;
  border-color: #7EA6F4; }

#results {
  background-color: #A0E4F1;
  display: flex;
  justify-content: flex-start;
  flex-direction: column; }

/* created using jQuery */
.stream-block {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  color: #F1FAFB;
  border-bottom: 2px #A0E4F1;
  border-top: 2px #A0E4F1;
  margin-top: 3px;
  margin-bottom: 3px; }

.stream-block img,
.stream-block p {
  display: flex; }

.block-anchor {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 5px 0;
  min-width: 600px;
  text-align: center; }

.channel-logo {
  height: 15%;
  width: 15%;
  border-radius: 50%;
  border: 2px solid #A0E4F1;
  margin: 0 25px; }

.channel-name, channel-status {
  margin: 0 30px;
  text-align: left; }

.channel-name {
  width: 20%; }

.channel-status {
  font-size: 0.8em;
  width: 40%; }

.online {
  background-color: #4A4DE7; }

/******** PSEUDO STYLES *******/
