/******** BASE STYLES *******/
body {
  background-color: #A7CDBD;
  color: #BBE1C3;
  font-size: 1.2em;
  display: flex;
  justify-content: center;
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  min-width: 450px; }

a {
  color: #BBE1C3;
  text-decoration: none; }

/******* MAIN STYLES *******/
#app-container {
  background-color: #91785D;
  width: 40%;
  /* used to be 80% */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 5%; }

.search-block {
  background-color: #91785D; }

#app-container div {
  text-align: center; }

#no-such-channel {
  display: none;
  color: #A7CDBD;
  background-color: #BBE1C3;
  padding-bottom: 1em;
  padding-top: 1em;
  width: 100%;
  text-align: center; }

.search-block {
  margin: 2% 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: #BBE1C3;
  background-color: #91785D; }

#search-button {
  margin: 5% 0;
  max-width: 50px;
  font-size: 1em;
  cursor: pointer;
  background-color: #8B5D33;
  color: #BBE1C3;
  border-radius: 15px;
  padding: 2% 5%; }

#search-button:hover {
  color: #91785D; }

#search-box {
  background-color: #8B5D33;
  color: #BBE1C3;
  margin: 0 auto;
  /* round corners */
  border-radius: 20px;
  font-size: 1.2em;
  text-align: center;
  outline: none;
  border: none;
  padding: 2% 3%; }

#app-container input::-webkit-input-placeholder {
  color: #BBE1C3; }

#state-indicator {
  background-color: #91785D;
  display: flex;
  justify-content: center;
  padding: 5% 0;
  font-size: 2em;
  color: #BBE1C3; }

.filter-buttons {
  background-color: #A7CDBD;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%; }

.filter-button {
  background-color: #91785D;
  flex: 1;
  width: auto;
  padding: 5px 10px; }

.highlighted {
  background-color: #8B5D33; }

.highlighted p {
  color: #A7CDBD; }

.filter-button {
  cursor: pointer; }

#results {
  background-color: #A7CDBD;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding-top: 3px;
  margin-color: red; }

/* created using jQuery */
.stream-block {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  color: #BBE1C3;
  border-bottom: 2px #A7CDBD;
  border-top: 2px #A7CDBD;
  margin-top: 3px;
  margin-bottom: 3px; }

.stream-block img,
.stream-block p {
  display: flex; }

.block-anchor {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 5px 0;
  text-align: center; }

.channel-logo {
  height: 15%;
  width: 15%;
  border-radius: 50%;
  border: 2px solid #A7CDBD;
  margin: 0 25px; }

.channel-name,
channel-status {
  margin: 0 30px;
  text-align: left; }

.channel-name {
  width: 20%; }

.channel-status {
  font-size: 0.8em;
  width: 40%;
  text-align: left; }

.online {
  background-color: #8B5D33;
  width: 100%; }

/******* PSEUDO STYLES *******/
/******* MEDIA QUERIES *******/
@media (max-width: 850px) {
  #app-container {
    width: 80%; }
  .channel-status,
  .channel-name {
    width: 60%;
    align-items: center;
    text-align: center;
    justify-content: center; }
  #stream-block {
    align-items: center;
    justify-content: center;
    display: flex; }
  .block-anchor {
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center; } }
