/*
Color Scheme


#0E1555
#4E1184
#932B77
#FD367E

Alt Color Scheme
#A42127
#C83B3B
#EF9B59
#FEE785


#252839
#677077
#b5b5b7
#f2b632

#c9c9c9
#e3e3e3
#9ad3de
#89bdd3

#001F3F
#083358
#FFD717
#0DA574


*/
/******** BASE STYLES *******/
body {
  background-color: #001F3F;
  color: #ddd;
  font-size: 1.2em;
  display: flex;
  justify-content: center;
  font-family: "Source Sans Pro", Helvetica, sans-serif; }

a {
  color: #FEE785;
  text-decoration: none; }

/******** MAIN STYLES *******/
#app-container {
  background-color: #083358;
  width: 600px;
  /* used to be 80% */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 5%; }

.search-block {
  background-color: #083358; }

#app-container div {
  text-align: center; }

#no-such-channel {
  display: none; }

.search-block {
  margin: 2% 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: #e3e3e3;
  background-color: #083358; }

#search-button {
  margin: 5% 0;
  max-width: 50px;
  font-size: 1em;
  cursor: pointer;
  background-color: #0DA574;
  color: #e3e3e3;
  border-radius: 15px;
  padding: 2% 5%; }

#search-button:hover {
  color: #083358; }

#search-box {
  background-color: #e3e3e3;
  color: #0DA574;
  margin: 0 auto;
  /* round corners */
  border-radius: 20px;
  font-size: 1.2em;
  text-align: center;
  outline: none;
  border: none;
  padding: 2% 3%; }

#app-container input::-webkit-input-placeholder {
  color: #0DA574; }

#state-indicator {
  background-color: #083358;
  display: flex;
  justify-content: center;
  padding: 5% 0;
  font-size: 2em;
  color: #0DA574; }

.filter-buttons {
  background-color: #0DA574;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%; }

.filter-button {
  background-color: #083358;
  flex: 1;
  width: auto;
  padding: 5px 10px; }

.highlighted {
  background-color: #0DA574; }

.filter-button {
  cursor: pointer; }

#results-line {
  width: 60%;
  background-color: #0DA574;
  display: block;
  height: 5px;
  border: 3;
  border-radius: 5px;
  border-top: 1px solid;
  border-color: #083358; }

#results {
  background-color: #0DA574;
  display: flex;
  justify-content: flex-start;
  flex-direction: column; }

/* created using jQuery */
.stream-block {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  color: #e3e3e3; }

.stream-block img,
.stream-block p {
  display: flex; }

.block-anchor {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 5px 0;
  min-width: 600px;
  text-align: center; }

.channel-logo {
  height: 75px;
  width: 75px;
  border-radius: 50%;
  border: 2px solid #001F3F;
  margin: 0 25px; }

.stream-block p {
  margin: 0 30px;
  width: 30%; }

.online {
  background-color: #0DA574; }

/******** PSEUDO STYLES *******/
